<h2>Curriculum vitae</h2>
<p>
Seit 2011 befasse ich mich damit, wie ich Benutzerinnen und Benutzern, Kundinnen und Kunden mit meiner Arbeit als
Softwareentwicklerin das Leben vereinfache. Durch mein analytisches Denken und meine
Neugierde kann ich mich jeweils rasch in neue Projekte und Technologien einarbeiten.
Mein offener Kommunikationsstil erlaubt mir, mich schnell und erfolgreich in neue Teams
einzubringen. Die Tätigkeiten bei drei Softwareunternehmen ermöglichten mir, vielfältige
Erfahrungen zu sammeln. Durch das Informatik-Studium an der Hochschule Luzern konnte
ich bereits bestehendes Wissen vertiefen und in den Bereichen Software Engineering und
Architektur viel dazulernen.
</p>
<h2>Arbeitgeber</h2>
<ul>
  <li *ngFor="let job of jobs">
     {{job.companyName}}
  </li>
</ul>
