
<p class="headertext">
Seit 2011 befasse ich mich damit, wie ich Benutzerinnen und Benutzern, Kundinnen und Kunden mit meiner Arbeit als
Softwareentwicklerin das Leben vereinfache. Durch mein analytisches Denken und meine
Neugierde kann ich mich jeweils rasch in neue Projekte und Technologien einarbeiten.
Mein offener Kommunikationsstil erlaubt mir, mich schnell und erfolgreich in neue Teams
einzubringen. Die Tätigkeiten bei drei Softwareunternehmen ermöglichten mir, vielfältige
Erfahrungen zu sammeln. Durch das Informatik-Studium an der Hochschule Luzern konnte
ich bereits bestehendes Wissen vertiefen und in den Bereichen Software Engineering und
Architektur viel dazulernen.
</p>

<div class="col mt-4">
  <div class="timeline-body" *ngFor="let job of jobs">
      <div class="timeline-item">
        <div class="content">
          <div class="timeline-marker"></div>
          <h4>{{job.function}}</h4>
          <h5>{{job.companyName}}</h5>
          <h5 class="date" *ngIf="dateTo(job.dateTo); else elseBlock">{{job.dateFrom | date:'MMM yyyy'}} - {{job.dateTo | date:'MMM yyyy'}}</h5>
          <ng-template #elseBlock><h5 class="date">{{job.dateFrom | date:'MMM yyyy' }} - heute</h5></ng-template>
          <p class="description">{{job.description}}</p>

        </div>
      </div>
  </div>
</div>
<div class="footerHack">
</div>
