<nav class="navbar navbar-expand-md bg-white navbar-light fixed-top">

  <a class="navbar-brand" href="#" (click)="setDocTitle( 'it´s carla' )"><h1>Carla Iten</h1></a>
  <div class="navbar-header">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>

  <div class="collapse navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto mr-1">
      <!--li class="nav-item">
        <a class="nav-link" routerLink="/hello" routerLinkActive="active">hello</a>
      </li-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/cv" routerLinkActive="active" (click)="setDocTitle( 'it´s carla | CV' )">CV</a>
      </li>
      <!--li class="nav-item">
        <a class="nav-link" routerLink="/skills" routerLinkActive="active">Mein Rucksäckli</a>
      </li-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active" (click)="setDocTitle( 'it´s carla | Projekte' )">Projekte</a>
      </li>
    </ul>
  </div>
</nav>


