<footer class="mt-auto py-3 text-center">

  <small class="text-muted mb-2">
    <p>
      <fa-icon [icon]="['fas', 'code']"></fa-icon>
      with
      <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      and
      <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
      by <strong>Carla Iten</strong>
    </p>
    <div class="container-fluid justify-content-center mx-1">


      <a href="https://github.com/krrli"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
      <a href="https://www.linkedin.com/in/carla-iten-a59210122/"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
    </div>
    </small>

</footer>
