<footer class="footer">


  <div class="content has-text-centered text-dark">
    <p>
      <fa-icon [icon]="['fas', 'code']"></fa-icon>
      with
      <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      and
      <fa-icon [icon]="['fas', 'coffee']"></fa-icon>
      by Carla Iten
    </p>
    <div class="social text-dark">
      <a href="https://github.com/krrli"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
      <a href="https://www.linkedin.com/in/carla-iten-a59210122/"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
    </div>
  </div>
</footer>
