@import '../../variables.scss';

.project{
  padding-top: 50px;
  margin-top: 60px;
  background-color: magenta;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}

.float{
  position: fixed;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;

  .back{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    color: $primary-color-timeline ;
  }
}

