<div class="container-lg px-3 my-5 markdown-body">

  <div class="card-deck">
    <div *ngFor="let project of projects">
      <div class="card" >  
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{project.customer}}</h6>
          <p class="card-text">{{project.shortDescription}}</p>          
          <div *ngFor="let tag of project.tagsArray">
            <span class="badge badge-pill text-primary border border-primary">{{tag}}</span>
          </div>
        </div>
        
        <!--div class="card-footer">
            <small class="text-muted">{{project.tags}}</small>
        </div-->
      </div>
    </div>
  </div>
</div>



<div class="footerHack"></div>


