<div class="container-lg px-3 my-5 markdown-body">

  <div class="card-columns">
    <div *ngFor="let project of projects">

      <!--td><a [routerLink]="['edit', product.id]">{{product.name}}</a></td-->

      <div class="card project card" routerLink ="/project-detail-slider/{{project.id}}">
      <!--to open details as popup-->
      <!--div class="card project card" (click)="openDetails(project)"-->
        <img class="card-img-top" src={{project.image}}>
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{project.customer}}</h6>
          <p class="card-text">{{project.shortDescription}}</p>
          <div class="card-text">
            <div class="badge badge-pill text-primary border border-primary" *ngFor="let tag of project.tagsArray">
              {{tag}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footerHack"></div>


