
<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="./assets/carla.jpg" alt="Carla" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
    <br/>
    <br/>
    <!--
    <p>Hallo! Ich bin Carla, eine Software Ingenieurin aus Luzern. Ich mag Code, tolle Teamgspändli, glückliche User und Kundinnen, Struktur, die Berge, Velos aller Art und das Leben überhaupt.</p>
    -->
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Hallo! Ich bin Carla, eine Software Ingenieurin aus Luzern.<br>Trust me, I'm an engineer!</p>

  </div>
</div>
<div class="footerHack">
