//@import '~variables.scss';
@import 'variables.scss';


html {
  font-size: 1rem;
  color: $text-color-dark;
  padding-top: 120px;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none !important;
  padding-right: 10px;
  color: #6c757d;
}

.footerHack{
  padding-top: 95px;
}


.timeline-item:hover  .timeline-marker:before {
  //background: transparent;
  background: white;
  border: 3px solid $primary-color-timeline;
}

.timeline-marker {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 15px;
  z-index: 1;
  &:before {
      background: $primary-color-timeline;
      //border: 3px solid transparent;
      border: 3px solid white;
      border-radius: 100%;
      content: "";
      display: block;
      height: 15px;
      position: absolute;
      top: 8px; left: -10px;
      width: 15px;
      transition: background 0.3s ease-in-out,
      border 0.3s ease-in-out;
  }
  &:after {
      content: "";
      width: 3px;
      background: #CCD5DB;
      display: block;
      position: absolute;
      top: 24px; bottom: 0; left: 6px;
      z-index: 5;

  }
  .timeline-item:last-child &:after {
      content: none;
  }
}

.timeline-body {
  position: relative;
  //background-color: $light;
  border-radius: 0 $rounded-borders $rounded-borders 0;
  padding: 5px 0;


  &:after {
    // Left Border
    content: "";
    width: 3px;
    height: 100%;
    //background-color: $primary;
    background-color: $left-border-color-timeline;
    position: absolute;
    left: -4px;
    top: 24px;
  }


  .timeline-item {
    position: relative;
    padding-left: 40px;

    .content {

      margin-left: 40px;
      //margin-bottom: 40px;
      //margin: 40px;
      padding-bottom: 20px;
      //border-bottom: 1px dashed $dark;

      .date {
        //margin-top: -5px;
        margin-bottom: 15px;
        color: $secondary;
      }
    }

  }
}
